@import "variable";
// Header {
.header__menu {
    padding-bottom: 30px;
    padding-top: 10px;
    display: flex;
}

.header img {
    padding-left: 5px;
    padding-right: 5px;
}

.header a {
    color: rgb(161, 161, 161);
    text-decoration: none;
    font-family: 'Lato', serif;
    font-size: 12px;
    font-weight: bold;
}

.header a:hover {
    color: #313131;
}

// }